
{{communicationdetails.title}}







<table>
    <tr>
        <td>BuyerId</td>
        <td><!--<input type="text" ng-model="communicationdetails.communications.BuyerId"/>-->
            <select id="bid" ng-model="communicationdetails.communications.BuyerId">
                <option ng-value="0" label="Please select"></option>

                <option ng-repeat="x in communicationdetails.buyer" ng-value="x.BuyerId"
                        ng-selected="{{ x.Selected == true }}">
                    {{x.BuyerId}}
                </option>
            </select>
        
        </td>
       
    </tr>
    <tr>
        <td>FirstDateOfInteraction</td>
        <td><input type="datetime" ng-model="communicationdetails.communications.FirstDateOfInteraction"/></td>
    </tr>
    <tr>
        <td>CommunicatedBy</td>
        <td><input type="text" ng-model="communicationdetails.communications.CommunicatedBy" /></td>
    </tr>
    <tr>
        <td>CommunicationVia</td>
        <td>
            <select id="bdesignationid" ng-model="communicationdetails.communications.CommunicationVia">
                <option ng-value="0" label="Please select"></option>

                <option ng-repeat="medium in communicationdetails.CommunicationMedium" ng-value="medium.ID"
                        ng-selected="{{ medium.Selected == true }}">
                    {{medium.Medium}}
                </option>
            </select>


        </td>
    <tr>
        <td>FeedBack</td>
        <td><input type="text" ng-model="communicationdetails.communications.FeedBack"/></td>
    <tr>
        <td>IsInterested</td>
        <td><input type="text" ng-model="communicationdetails.communications.IsInterested" /></td>
    <tr>
        <td>NextStep</td>
        <td><input type="text" ng-model="communicationdetails.communications.NextStep"/></td>
    <tr>
        <td>TransferredTo</td>
        <td>

            <select id="TransferredTo" ng-model="communicationdetails.communications.TransferredTo">
                <option ng-value="0" label="Please select"></option>

                <option ng-repeat="x in communicationdetails.TransferredTo" ng-value="x.ID"
                        ng-selected="{{ x.Selected == true }}">
                    {{x.FollowupBy}}
                </option>
            </select>
        </td>
    <tr>
        <td>NextFollowupDate</td>
        <td><input type="datetime" ng-model="communicationdetails.communications.NextFollowupDate"/></td>
    <tr>
        <td>SalesStatus</td>
        <td>
            <select id="SalesStatus" ng-model="communicationdetails.communications.SalesStatus">
                <option ng-value="0" label="Please select"></option>

                <option ng-repeat="x in communicationdetails.status" ng-value="x.ID"
                        ng-selected="{{ x.Selected == true }}">
                    {{x.Status}}
                </option>
            </select>

        </td>
    </tr>
    <tr>
        <td>IsConverted</td>
        <td><input type="text" ng-model="communicationdetails.communications.IsConverted" /></td>
    </tr>
   
</table>
<button ng-click="communicationdetails.SaveCommunications()">Save</button>
<button ng-click="communicationdetails.communication={}">Reset</button>