{{medium.title}}
<div class="Container">
    <div class="col-md-6">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Medium</th>
                </tr>
            </thead>
            <tbody ng-repeat="x in medium.mediums">
                <tr>
                    <td>
                   {{x.ID}}
                    </td>
                    <td>
                        <a href="/#!/mediumslist/{{x.ID}}">

                  {{x.Medium}}
                    </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--<button><a href="/#!/mediumslist/">Addmedium</a></button>-->
    <button><a href="/">Back</a></button>   
    </div>
   
    <div class="col-md-6">
        <div ng-cloak>
            <p>Id :{{medium.medium.ID}}</p></br>
            <p>Medium:{{medium.medium.Medium}}</p></br>
            
        </div>
      Medium:  <input type="text" ng-model="medium.medium.Medium" ng-required="true" />

        <button ng-click="medium.SaveMediums()">Save</button>
        <button ng-click="medium.medium={}">Refresh</button>
    </div>

</div>
