{{sourcelist.title}}
<div class="Container">
    <div class="col-md-6">
        <select ng-change="sourcelist.limitChange(sourcelist.limit)" ng-model="sourcelist.limit">
            <option ng-value="3">3</option>
            <option ng-value="5">5</option>
            <option ng-value="20">20</option>
            <option ng-value="30">30</option>
            <option ng-value="40">40</option>
            <option ng-value="50">50</option>
        </select>
        <table>
            <thead>
                <tr>
                    <th ng-click="desc = !desc; sourcelist.orderBy('ID', desc)">ID</th>
                    <th ng-click="desc = !desc; sourcelist.orderBy('Source', desc)">Source</th>
                </tr>
            </thead>
            <tbody ng-repeat="source in sourcelist.sources ">
                <tr>
                    <td>{{source.ID}}</td>
                    <td>
                        <a href="/#!/sourcelist/{{source.ID}}">
                        
                                {{source.Source}}
                            </a>

                     

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <div>
            {{sourcelist.source.ID}}
            {{sourcelist.source.Source}}
        </div>
   <ng-form name="SourceForm">

       <label>Id</label>
       <label>SourceName</label>
       <input type="text" ng-model="sourcelist.source.Source" ng-required="true" ng-message="Please fill the source name" placeholder="Please fill the source name" name="Source" id="Source" class="inputform2" />


<div class="button-div">
    <button ng-click="sourcelist.SaveSources()" ng-disabled="SourceForm.$invalid" class="guide">Save</button>
    <button ng-click="sourcelist.source={} && SourceForm.$setPristine()" class="guide">Reset</button>
    <button><a href="/"> Back</a></button>
</div>
      

   </ng-form>    

       

        </div>
    <ng-form name="searchSource">
        Search
        <input id="sourceName" name="sourceName" ng-model="sourcelist.sourceName"
               ng-change="sourcelist.sourcenameChange(sourcelist.sourceName)">
        <button ng-click="sourcelist.reset() && searchSource.$setPristine()">Reset</button>
    </ng-form>
       
    </div>


