{{sourcelist.title}}
<div class="Container">
    <div class="col-md-6">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Source</th>
                </tr>
            </thead>
            <tbody ng-repeat="source in sourcelist.sources ">
                <tr>
                    <td>{{source.ID}}</td>
                    <td>
                        <a href="/#!/sourcelist/{{source.ID}}">
                        
                                {{source.Source}}
                            </a>

                     

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <div>
            {{sourcelist.source.ID}}
            {{sourcelist.source.Source}}
        </div>
   <ng-form name="SourceForm">

       <label>Id</label>
       <label>SourceName</label>
       <input type="text" ng-model="sourcelist.source.Source" ng-required="true" ng-message="Please fill the source name" placeholder="Please fill the source name" name="Source" id="Source" class="inputform2" />


<div class="button-div">
    <button ng-click="sourcelist.SaveSources()" ng-disabled="SourceForm.$invalid" class="guide">Save</button>
    <button ng-click="sourcelist.source={}" class="guide">Reset</button>
    <button><a href="/"> Back</a></button>
</div>
      

   </ng-form>    

       

        </div>
       
    </div>


