{{status.title}}
<div class="Container">
   
    <div class="col-md-6 col-lg-6">
        <select ng-change="status.limitChange(status.limit)" ng-model="status.limit">
            <option ng-value="3">3</option>
            <option ng-value="5">5</option>
            <option ng-value="10">10</option>
            <option ng-value="20">20</option>
            <option ng-value="30">30</option>
            <option ng-value="40">40</option>
            <option ng-value="50">50</option>
        </select>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th >Communicationstatus</th>
                </tr>
            </thead>
            <tbody ng-repeat="status in status.statuses">
                <tr>
                    <td>
                        {{status.ID}}
                    </td>
                    <td>
                    <a href="/#!/status/{{status.ID}}">{{status.Status}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <div class="col-md-6 col-lg-6">
        <div ng-cloak>
          ID:  {{status.status.ID}}
          Status: {{status.status.Status}}
        </div>

        <ng-form name="Statusform">
            <label>Status</label>
            <input type="text" ng-model="status.status.Status" ng-required="true" ng-message="enter Status" name="Status" id="Status" placeholder="Please Enter Status" class="inputform2" />

   



                <div class="botton_div">

                    <input type="submit" class="guide" value="Save" ng-click="status.SaveStatuses()()"
                           ng-disabled="Statusform.$invalid">

                    <button class="guide" ng-click="status.status= {} && Statusform.$setPristine()">
                     Reset</button>
                    
                   
                </div>





        </ng-form>
       
    </div>

    <ng-form name="searchstatus">
        Search
        <input id="statusname" name="statusname" ng-model="status.statusname"
               ng-change="status.statusChange(status.statusname)">
        <button ng-click="status.reset() && searchstatus.$setPristine()">Reset</button>
    </ng-form>

</div>
