{{websitelist.title}}

<div class="Container">
    <div class="col-md-6">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>WebsiteName</th>
                </tr>
            </thead>
            <tbody ng-repeat="web in websitelist.websites">
                <tr>
                    <td>{{web.ID}}</td>
             <td>
                    <a href="/#!/websites/{{web.ID}}">
                        {{web.WebsiteName}}
                    </a>
                    
                   </td>
                </tr>
            </tbody>
        </table>
        <button>
            <a href="/">
               back
            </a>
        </button>
    </div>
    <div class="col-md-6">
       

        <div ng-cloak>
            <p>Id {{websitelist.website.ID}}</p></br>
            <p>Website:{{websitelist.website.WebsiteName}}</p></br>
            
        </div>

       <ng-form name="website" >
           
           <input type="text" ng-model="websitelist.website.WebsiteName" ng-required="true" ng-messages="enter Website" name="WebsiteName" id="WebsiteName" placeholder="Enter WebsiteName" class="inputform2" />
<div class="botton_div">
    <button class="guide" ng-disabled="website.$invalid" ng-click="websitelist.SaveWebsites()">Save</button>
    <button class="guide" ng-click="websitelist.website={}">Refresh</button>
</div>
       </ng-form>
   



       

      
    </div>

</div>



