{{level.title}}
<div class="Container">
    <div class="col-md-6">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Level</th>
                </tr>
            </thead>
            <tbody ng-repeat="level in level.levels">
                <tr>
                    <td>{{level.ID}}</td>
                    <td><a href="/#!/levels/{{level.ID}}">
                        {{level.FollowupBy}}
                        </a></td>
                </tr>
            </tbody>
        </table>
       
        <button><a href="/">Back</a></button>
    </div>

    <div class="col-md-6">
        <div ng-cloak>
            <p>Id :{{level.level.ID}}</p></br>
            <p>Level:{{level.level.FollowupBy}}</p></br>

        </div>
        <input type="text" ng-model="level.level.FollowupBy" ng-required="true" />

        <button ng-click="level.SaveLevels()">Save</button>
        <button ng-click="level.level={}">Refresh</button>
    </div>

</div>

