{{level.title}}
<div class="Container">
    
    <div class="col-md-6">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>
                        Level
                       
                    </th>
                </tr>
            </thead>
            <tbody ng-repeat="level in level.levels" >
                <tr>
                    <td>{{level.ID}}</td>
                    <td><a href="/#!/levels/{{level.ID}}">
                        {{level.FollowupBy}}
                        </a></td>
                  
                </tr>
            </tbody>
        </table>
       
        <button><a href="/">Back</a></button>
    </div>

    <div class="col-md-6">
        <div ng-cloak>
            <p>Id :{{level.level.ID}}</p></br>
            <p>Level:{{level.level.FollowupBy}}</p></br>

        </div>
        <ng-form name="FollowupByform">
        <label>FollowupBy</label>
        <input type="text" ng-model="level.level.FollowupBy" ng-required="true" ng-message="Level is required"
               ng-cloak id="FollowupBy" placeholder="enter communicator name" name="FollowupBy" class="inputform2"/>

            <div class="button-div">
                <button ng-click="level.SaveLevels()" class="guide" ng-disabled="FollowupByform.$invalid">Save</button>
                <button ng-click="level.level={}" class="guide">Refresh</button>
            </div>
       

        </ng-form>
        
    </div>

</div>

