{{communication.title}}
<div style="overflow:scroll;">
    <table>
        <thead>
            <tr>
                <th>BuyerName</th>
                <th>BuyerID</th>
                <th>CommunicationID</th>
                <th>FirstDateOfInteraction</th>
                <th>CommunicatedBy</th>
                <th>FeedBack</th>
                <th>Isinterested</th>
                <th>NextStep</th>
                <th>LevelTransferredTo</th>
                <th>NextFollowUpDate</th>
                <th>IsConverted</th>
                <th>CommunicationMedium</th>


            </tr>
        </thead>
        <tbody ng-repeat="communicate in communication.pagedPost">
            <tr>
                <td>{{communicate.buyer.BuyerCompany}}</td>
                <td>{{communicate.BuyerID}}</td>
                <td><a href="/#!/communicationdetails/{{communicate.CommunicationID}}">{{communicate.CommunicationID}}</a></td>
               
                <td>{{communicate.FirstDateOfInteraction}}</td>
                <td>{{communicate.communicatedBy}}</td>
                <td>{{communicate.Feedback}}</td>
                <td>{{communicate.Isintersted}}</td>
                <td>{{communicate.NextStep}}</td>
                <td>{{communicate.communicatedto.FollowupBy}}</td>
                <td>{{communicate.NextFollowUpDate}}</td>
                <td>{{communicate.IsConverted}}</td>
                <td>{{communicate.medium.Medium}}</td>





            </tr>
        </tbody>
    </table>
</div>

<div>
    <nav aria-label="...">
        <ul class="pagination">
            <li ng-class="communication.currentpage == 1? 'disabled': ''">
                <a href="javascript:" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li ng-click="communication.pageChange(page)" ng-repeat="page in communication.pages" ng-class="communication.currentpage == page ? 'active' : ''"><a href="javascript:">{{page}}</a></li>
            <li ng-class="communication.currentpage == communication.pages.length ? 'disabled': ''">
                <a href="javascript:" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>


<h4>sorting</h4>

<ng-form id="SortCommunication" class="Container">
    <div class="col-md-3">
        <h4>CommunicatorDesignation</h4>
        <select>

            <option value="0" label="Please Select"></option>
            <option ng-repeat="followup in communication.TransferredTo"
                    value="{{followup.ID}}" ng-selected="{{followup.Selected==true}}">
                {{followup.FollowupBy}}
            </option>
        </select>


    </div>

    <div class="col-md-3">
      <h4>SearchByNextFollowupdate</h4>
      <input type="date" id="nextfollowupdate" />
    </div>  

    <div class="col-md-3">
        <h4>Converted</h4>
        <select >
            
            <option value="0">False</option>
            <option value="1">True</option>
        </select>

      

    </div>
    <div class="col-md-3">
        <h4>Search By Buyer ID</h4>
        <input type="text" id="BuyerID" />
    </div>
    <div class="col-md-3">
<h4>Search By Buyer Name</h4>
        <input type="text" id="BuyerName"/>
    </div>

    <div class="col-md-3">
        <h4>Is Buyer Interested</h4>
        <select>

            <option value="0">False</option>
            <option value="1">True</option>
        </select>
</div>

    <div class="col-md-3">
        <h4>MediumList</h4>
        <select>

            <option value="0" label="Please Select"></option>
            <option ng-repeat="medium in communication.Communicationmedium"
                    value="{{medium.ID}}" ng-selected="{{medium.Selected==true}}">
                {{medium.Medium}}
            </option>
        </select>

    </div>

    <div class="col-md-3">
        <h4>Search By Communication Id </h4>
        <input type="text" id="CommunicationId" />
    </div>
</ng-form> 
<div>
    <button type="submit">Search</button>
    <button type="reset">Reset</button>
</div>