
{{buyerdetails.title}}

<ng-form name="AddBuyers" >
    <div class="Container">

        <div class="col-md-4">
            <label>BuyerCompany</label>
            <input type="text" ng-model="buyerdetails.buyer.BuyerCompany" />
        </div>
        <div class="col-md-4">
            <label>ContactPerson</label>
            <input type="text" ng-model="buyerdetails.buyer.ContactPerson" ng-required="true"/>
        </div>
       
        <div class="col-md-4">
            <label>ProductlookingFor</label>
            <select id="productid"  ng-model="buyerdetails.buyer.ProductLookingFor">
                <option ng-value="0" label="Please select"></option>

                <option ng-repeat="product in buyerdetails.products" ng-value="product.ID"
                        ng-selected="{{ product.Selected == true }}">
                    {{product.ProductName}}
                </option>
            </select>
           
        </div>

        <div class="col-md-4">
            <label>Designation</label>
            <select id="bdesignationid" ng-model="buyerdetails.buyer.ContactPersonDesignation">
                <option ng-value="0" label="Please select"></option>

                <option ng-repeat="designation in buyerdetails.designation" ng-value="designation.ID"
                        ng-selected="{{ designation.Selected == true }}">
                    {{designation.designation}}
                </option>
            </select>

        </div>

        
        <div class="col-md-4">
            <label>ContactNumber</label>
            <input type="text" ng-model="buyerdetails.buyer.ContactNumber" id="contactNumber" name="contactNumber"/>

        </div>
        <div class="col-md-4">

            <label>AlternativeNumber</label>
            <input type="text" ng-model="buyerdetails.buyer.AlternativeNumber"/>

        </div>

        <div class="col-md-4">

            <label>Email</label>
            <input type="email" ng-model="buyerdetails.buyer.Email" id="Email" name="Email"/>
        </div>
        <div class="col-md-4">
            <label>Extension</label>
            <input type="text" ng-model="buyerdetails.buyer.Extension" id="Extension" name="Extension"/>

        </div>
        <div class="col-md-4">
            <label>SourceWebLink</label>
            <input type="text" ng-model="buyerdetails.buyer.SourceWebLink" id="SourceWebLink" name="SourceWebLink"/>

        </div>


        
        <div class="col-md-4">
             <label>BuyerSource</label>
    <select id="sources" ng-model="buyerdetails.buyer.BuyerSource">
        <option ng-value="0" label="Please select"></option>

        <option ng-repeat="source in buyerdetails.sources" ng-value="source.ID"
                ng-selected="{{ source.Selected == true }}">
            {{source.Source}}
        </option>
    </select>


        </div>
        <div class="col-md-4">

            <label>BuyerPriority</label>
            <select id="productid" ng-model="buyerdetails.buyer.BuyerPriority">
                <option ng-value="0" label="Please select"></option>

                <option ng-repeat="priority in buyerdetails.priorities" ng-value="priority.ID"
                        ng-selected="{{ priority.Selected == true }}">
                    {{priority.Level}}
                </option>
            </select>


        </div>
        <div class="col-md-4">

            <label>IsBuyerInterested</label>
            <input type="text" ng-model="buyerdetails.buyer.IsBuyerInterested" />
         

        </div>

        <div class="col-md-4">
            <label>BuyerWebsite</label>
            <select id="website" ng-model="buyerdetails.buyer.BuyerWebsiteName">
                <option ng-value="0" label="Please select"></option>

                <option ng-repeat="website in buyerdetails.website" ng-value="website.ID"
                        ng-selected="{{ website.Selected == true }}">
                    {{website.WebsiteName}}
                </option>
            </select>



        </div>
        <button ng-click="buyerdetails.SaveBuyers()"> Save</button>
        <button ng-click="buyerdetails.buyer= {}"> Reset</button>
        <a href="/">Home</a>
    </div>
    </ng-form>
