{{buyerlist.title}}
Buyer List



<div class="Container table table-striped"  style="overflow:scroll;">
    <select ng-change="buyerlist.limitChange(buyerlist.limit)" ng-model="buyerlist.limit">
        <option ng-value="2">2</option>
        <option ng-value="5">5</option>
        <option ng-value="10">10</option>
        <option ng-value="20">20</option>
        <option ng-value="30">30</option>
        <option ng-value="40">40</option>
        <option ng-value="50">50</option>
    </select>
    <table>
        <thead>
            <tr>
                <th ng-click="desc = !desc; buyerlist.orderBy('BuyerId', desc)">BuyerId</th>   
                <th ng-click="desc = !desc; buyerlist.orderBy('BuyerCompany', desc)">BuyerCompany</th>   
                <th ng-click="desc = !desc; buyerlist.orderBy('Date', desc)">GeneratedDate</th>
                <th ng-click="desc = !desc; buyerlist.orderBy('ProductLookingFor', desc)">ProductLookingFor</th>
                <th ng-click="desc = !desc; buyerlist.orderBy('ContactPerson',desc)">ContactPerson</th>
                <th ng-click="desc = !desc; buyerlist.orderBy('ContactPersonDesignation',desc)">Designation</th>
                <th ng-click="desc = !desc; buyerlist.orderBy('ContactNumber',desc)">ContactNumber</th>
                <th ng-click="desc = !desc; buyerlist.orderBy('AlternativeNumber',desc)">AlternativeNumber</th>
                <th ng-click="desc = !desc; buyerlist.orderBy('Email', desc)">Email</th>
                <th ng-click="desc = !desc; buyerlist.orderBy('Extension',desc)">Extension</th>
               
                 <th ng-click="desc = !desc; buyerlist.orderBy('SourceWebLink',desc)">SourceWebLink</th>
                <th ng-click="desc = !desc; buyerlist.orderBy('BuyerSource',desc)">Source</th>
                <th ng-click="desc = !desc; buyerlist.orderBy('BuyerWebsiteName',desc)">Website</th>
                <th ng-click="desc = !desc; buyerlist.orderBy('BuyerPriority',desc)">Priority</th>
            </tr>



      



        </thead>
        <tbody ng-repeat="buyer in buyerlist.buyers">
            
          <tr>
              <td>{{buyer.BuyerId}}</td>
              <td><a href="/#!/buyerdetails/{{buyer.BuyerId}}">{{buyer.BuyerCompany}}</a></td>
              <td>{{buyer.Date}}</td>
              <td>{{buyer.Product.ProductName}}</td>
              <td>{{buyer.ContactPerson}}</td>
              <td>{{buyer.BuyerDesignation.designation}}</td>
              <td>{{buyer.ContactNumber}}</td>
              <td>{{buyer.AlternativeNumber}}</td>
              <td>{{buyer.Email}}</td>
              <td>{{buyer.Extension}}</td>
              <td>{{buyer.SourceWebLink}}</td>
              <td>{{buyer.Source.Source}}</td>
              <td>{{buyer.Website.WebsiteName}}</td>
              <td>{{buyer.Priority.Level}}</td>
         </tr>

        </tbody>

    </table>

   

</div>
<div>
    <!--<nav aria-label="...">
        <ul class="pagination">
            <li ng-class="buyerlist.currentPage == 1? 'disabled': ''">
                <a href="javascript:" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li ng-click="buyerlist.pageChange(page)" ng-repeat="page in buyerlist.pages" ng-class="buyerlist.currentPage == page ? 'active' : ''"><a href="javascript:">{{page}}</a></li>
            <li ng-class="buyerlist.currentPage == buyerlist.pages.length ? 'disabled': ''">
                <a href="javascript:" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>-->
</div>

    <div class="Container">
    <h4>Sorting</h4>
    <ng-form id="filterbuyer" name="filterbuyer">
        <!--<div class="col-md-3">
            <h4>SourceList</h4>
            <select id="sourceid" ng-change="buyerlist.sourceidchange(buyerlist.sourceid)" ng-model="buyerlist.sourceid">
                <option value="0" label="Please Select"></option>
                <option ng-repeat="source in buyerlist.Source" value="{{Source.ID}}"
                        ng-selected="{{ source.Selected == true }}">
                    {{source.Source}}
                </option>
            </select>
        </div>-->

        <div class="col-md-3">
            <h4>ProductLookingFor</h4>
            <select id="productid" ng-change="buyerlist.productidchange(buyerlist.productid)" ng-model="buyerlist.productid">
                <option value="0" label="Please select"></option>

                <option ng-repeat="product in buyerlist.product" value="{{product.ID}}"
                        ng-selected="{{ product.Selected == true }}">
                    {{product.ProductName}}
                </option>
            </select>

        </div>

        <div class="col-md-3">
            <h4>Search Website</h4>
            <select id="websiteid" ng-change="buyerlist.websiteidchange(buyerlist.websiteid)" ng-model="buyerlist.websiteid">

                <option value="0" label="Please Select"></option>
                <option ng-repeat="web in buyerlist.website"
                        value="{{web.ID}}" ng-selected="{{web.Selected==true}}">
                    {{web.WebsiteName}}
                </option>
            </select>

        </div>

      
        <div class="col-md-3">
            <h4>Search by BuyerID </h4>
            <input type="text" id="BuyerId" name="BuyerId" 
         ng-change="buyerlist.buyeridchange(buyerlist.BuyerId)" ng-model="buyerlist.BuyerId"/>
        </div>
        <div class="col-md-3">
            <h4>Search by BuyerName </h4>
            <input type="text" id="BuyerCompany" name="BuyerCompany" ng-model="buyerlist.BuyerCompany" 
            ng-change="buyerlist.buyernamechange(buyerlist.BuyerCompany)" />
        </div>
        <div class="col-md-3">
            <h4>SearchByDate</h4>
            <input type="date" id="date" />
        </div>




        <div >

            <!--<button ng-click="buyerlist.filterdata('buyerlist.buyers.BuyerId')">Search</button>-->
            <!--<button ng-click="buyerlist.filterdata('buyerlist.buyers.BuyerId')">Search</button>-->

            <button ng-click="buyerlist.form" ng-class="guide">Reset</button>
            <a href="/">Home</a>
        </div>







    </ng-form>
</div>
<!--<ng-form name="filterform">
    <button  type="submit" id="submit" name="submit" ng-click="buyerdetails.test()">test</button>
    <input type="submit" id="submit" name="submit" ng-click="buyerdetails.test()"/>
</ng-form>-->
