{{sourcelist.title}}
<div class="Container">
    <div class="col-md-6">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Source</th>
                </tr>
            </thead>
            <tbody ng-repeat="source in sourcelist.sources ">
                <tr>
                    <td>{{source.ID}}</td>
                    <td>
                        <a href="/#!/sourcelist/{{source.ID}}">
                        
                                {{source.Source}}
                            </a>

                     

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <div>
            {{sourcelist.source.ID}}
            {{sourcelist.source.Source}}
        </div>
       

        <label>Id</label>
        <label>SourceName</label>
        <input type="text" ng-model="sourcelist.source.Source" />
        <button ng-click="sourcelist.SaveSources()">Save</button>
        <button ng-click="sourcelist.source={}">Reset</button>
    

        </div>
        <div>
            <button><a href="/"> Back</a></button>
        </div>
    </div>


